<% [0, 1, 2].each do |num| %>

<div class="card text-center">

  <!-- Cabecera de la tarjeta -->
  <div class="card-header" style="color: white">
    <span class="card-header-title">Question 97 - Integrated Civics (Symbols)</span>
    <a href="#" data-toggle="modal" data-target="#luis" class="float-right">
        <span class="fa fa-cog fa-2x" style="color: white" aria-hidden="true" title="Metodo de Luis" ></span>
      </a>
  </div>

  <!-- Contenido de la tarjeta -->
  <div class="card-block">
    <div class="card-block-img">
      <img src="<%= image_url('secreto.png') %>" data-img="<%= image_url('photo'+(num+1).to_s+'.png') %>">
    </div>

    <div class="card-block-main">
      <span class="card-block-main-question"><%= @pregunta[num] %></span>
      <br /><br />
      <button class="btn btn-info mostrar" type="button">Show Answer</button>
      <div class="respuesta hidden">
        <input type="radio" name="pregunta1"> <span class="card-block-main-answer">because there is one star for each state</span>
        <br /><br />
        <input type="radio" name="pregunta1"> <span class="card-block-main-answer">because each star represents a state</span>
        <br /><br />
        <input type="radio" name="pregunta1"> <span class="card-block-main-answer">because there are 50 states</span>
        <br /><br />
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalwin">Show Info</button>
      </div>
    </div>

    <div class="float-right">
      <% if num == 0 %>
      <span class="fa fa-check-circle fa-2x" style="color: #32CD32" aria-hidden="true" title="Good" ></span>
      <% elsif num == 1 %>
      <span class="fa fa-times-circle fa-2x" style="color: #FF4500" aria-hidden="true" title="Bad" ></span>
      <% else %>
      <span class="fa fa-trophy fa-2x" style="color: #FFD700" aria-hidden="true" title="The best" ></span>
      <% end %>
    </div>
  </div>

  <!-- Pie de la tarjeta -->
  <div class="card-footer text-muted"> </div>

  <!-- Contenido oculto, texto asociado a la pregunta -->
  <div class="card-info hidden"><%= @info[num] %></div>
</div>
<br />
<br />
<br />

<% end %>



<!-- Ventana Modal (La que muestra la informacion) -->
<div class="modal fade" id="modalwin" tabindex="-1" role="dialog" aria-labelledby="ModalWindow" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h4 class="modal-title">Question Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p id="modalwin-text"></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<!-- Ventana Modal (Para la configuracion) -->
<div class="modal fade" id="luis">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Setup</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Aqui van las cosas que se podrian configurar</p>
      </div>
    </div>
  </div>
</div>