
<style type="text/css">
  /*Estilos de la tarjeta.
    Por el momento lo dejo aqui porque no estoy seguro donde
    los pondremos ya que es algo solo para esta seccion*/

  .card-footer { background-color: #042040; } /*$gray-dark*/

  .card-header { background-color: #BF1438; } /*$brand-danger*/

  .card-header-title { font-size: 1.5rem;  font-weight: bold;  color: White; }

  .card-block-img { float: left; padding: 5px 25px 5px 10px; }

  .card-block-main { float: left; text-align: left; max-width: 70%; }

  .card-block-main-question { color: #BF1438; font-size: 1.75rem; } /*$brand-danger*/

  .card-block-main-answer { color: black; font-size: 1.75rem; }

  .card-block-main-text { color: black; font-size: 1rem;  }
  .hidden {
    display:none;
  }
</style>


<% [1, 2, 3].each do |num| %>

<div class="card text-center">

  <div class="card-header" style="color: white">
    <span class="card-header-title">Question 69 - Colonial Period and Independence</span>
    <% if num == 2%>
    <span class="float-right fa fa-exclamation-triangle fa-2x" aria-hidden="true" title="You fail" />
    <% else %>
    <span class="float-right fa fa-graduation-cap fa-2x" aria-hidden="true" title="Master" />
    <% end %>
  </div>

  <div class="card-block">
    <div class="card-block-img"> <img src="<%= image_url('photo'+num.to_s+'.png') %>"> </div>
    <div class="card-block-main">
      <span class="card-block-main-question">Who is the “Father of Our Country”?</span>
      <br /><br />
      <button class="btn btn-outline-info mostrar"  type="button"  id="b<%=num%>">Show Answer</button>
      <div class="respuesta hidden"  id="q<%=num%>" >
        <span class="card-block-main-answer">(George) Washington</span>
        <br /><br />
        <span class="card-block-main-text  ">
          George Washington is called the Father of Our Country. He was the first American president. 
          Before that, he was a brave general who led the Continental Army to victory over Great Britain during 
          the American Revolutionary War. After his victory over the British Army, Washington retired to his 
          farm in Virginia named Mount Vernon. He left retirement to help create the new country’s system of 
          government. He presided over the Constitutional Convention in Philadelphia in 1787. 
        </span>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted"> </div>
</div>

<br />
<br />
<br />


<% end %>

