
<div class="card text-center">
  <div class="card-header">

    <div class="card-menu-r">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    </div>
  </div>
  <div class="card-block">
    <div><h5 class="card-title">Pregunta No.##</h5></div>
    <p class="card-text">Este es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la pregunta</p>

    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

  </div>

</div>


<br>

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <h4 class="card-title">Pregunta No.##</h4>
    <p class="card-text">Este es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la pregunta</p>

    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

  </div>

</div>





  <br>
  <div class="card card-block text-center">
    <h4 class="card-title">prUEBAS.. PRUEBASS</h4>
    <hr>
    <p class="card-text">AREA PARA PROBAR LSO BOTONES.. NO FUNCIONANA BIEN AUN</p>
    <div>
      <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
    </div>
    <DIV>    <button class="btn red"> este botod debe ser grande</button>
    </DIV>
  </div>
  <br>
