
<div class="container-fluid" id="main">
 <div class="col ">

  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="alert-heading ">Flashcards!</h4>
    <p> Este es es un texto introductrio  DESCARTABLE para las flashcards>
    </p>
    <P>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los

    </P>
  </div>
  <div class="row">
    <div class="col">
    <!--  <p> Columna inicial.. por si queremos poner algo aqui.. sino se quita</p>-->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-l">


        <%= render "partials/cards"%>
    </div>

    <div class="col">
     <!-- <p> Columna 3.. por si queremos poner algo aqui.. sino se quita</p>-->
    </div>
</div>






 </div></div>