<h1>Home</h1>

<div class="col-md-9 col-lg-10 main">




  <div class="card card-block text-center">
    <h4 class="card-title">Pregunta No. 1</h4>
    <p class="card-text">Este es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la pregunta</p>
    <hr>
    <p>Respuesta:</p>
    <p>esta es la respueasta de la pregunta.</p>
    <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
  </div>
  <br>
  <div class="card card-block text-center">
    <h4 class="card-title">Pregunta No. 1</h4>
    <p class="card-text">Este es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la pregunta</p>
    <hr>
    <p>Respuesta:</p>
    <p>esta es la respueasta de la pregunta.</p>
    <button class="btn bg-primary"> este botod debe ser grande</button>
  </div>
  <br>
  <div class="card card-block text-center">
    <h4 class="card-title">Pregunta No. 1</h4>
    <p class="card-text">Este es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la preguntaEste es el texto de la pregunta y repito el texto de la pregunta</p>
    <hr>
    <p>Respuesta:</p>
    <p>esta es la respueasta de la pregunta.</p>
    <p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>
  </div>
  <div><%=link_to 'vamos pa\' google ole ole', 'http://google.com', :class => "btn btn-success" %></div>
</div>