
/* PALETA DE COLORES USA*/

//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              #042A69;   // #333
$gray:                   #534561; // #555
$gray-light:             #BF1438; // #777
$gray-lighter:           #4F6995; // #eee

$brand-primary:         #4E3F49; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg: #EDE4E9;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;








/* Funciones en SaSS para no repetir codigo*/

// para calcular ytransformar px a REM y  evitar calcularlo manualmente cada vez
@function calculateRem($size) {
  $remSize: $size / 16px; //Default font size on html element is 100%, equivalent to 16px;
  @return #{$remSize}rem;
}








/*Aqui inician los componentes de la pagina*/

body {
  padding-top: calculateRem(70px); //para que la barra de navegacion fija no tape parte del contenido -- llama a la funcion calculateRem para calcular el valor REM de 70px
  background-color: $body-bg;
}

//Navegacion:  navbar
.navbar{

    background-color: $gray-dark !important;
    box-shadow: 0 calculateRem(1px) calculateRem(2px) rgba(0, 0, 0, 0.6);
    transition: 0.3s;

}

//Color de texto para Parrafos
p{
  color: $gray-dark;
}

h4  {
  color:$gray-light;
}

hr {
  border: 2 !important;
  height: 1px !important;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)) !important;
  color: #042A69 !important;
}

//Botones

.btn {
  position: relative;
  display: block;
  margin: calculateRem(30px) auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: calculateRem(2px);
  box-shadow: 0 calculateRem(1px) calculateRem(4px) rgba(0, 0, 0, .6);
  background-color: $gray-lighter!important;
  color: $body-bg;
  transition: background-color .3s;
  height: calculateRem(54px);
  line-height: calculateRem(56px);
}

.btn:hover, .btn:focus {
  background-color: $gray-light;
}

.btn > * {
  position: relative;
}



.btn:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;
  border-radius: 100%;
  background-color: rgba(236, 240, 241, .3);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
  box-sizing: border-box;
}


.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover, .btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74c3c !important;
}

.btn.red:hover, .btn.red:focus {
  background-color: #303ec0 !important;
}


//cards

.card {
  overflow:hidden;
  box-shadow: 0 calculateRem(1px) calculateRem(2px) 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 calculateRem(8px)  calculateRem(16px) 0 rgba(0,0,0,0.2);
}
.card-block .rotate {
  z-index: 8;
  float: right;
  height: 100%;
}
/* Add some padding inside the card container */
.container {
  padding: calculateRem(2px)  calculateRem(16px);
}
.card-block .rotate i {
  color: rgba(20, 20, 20, 0.15);
  position: absolute;
  left: 0;
  left: auto;
  right: calculateRem(-10px);
  bottom: 0;
  display: block;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  transform: rotate(-44deg);
}
//para poner los botones a la derecha
.card-menu-r
{

  float: right;
}